
  <!-- navbar section -->
  <header class="text-gray-600 body-font fixed top-0 right-0 left-0 z-30 bg-white shadow-sm">
    <div class="mx-auto flex flex-wrap justify-between flex-row items-center max-w-7xl p-2">
      <a class="cursor-pointer" href="/">
        <img src="/images/logo.png" alt="logo" class="h-16" />
      </a>

      <nav class="hidden md:flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/">Home</a>
        <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/about">About</a>
        <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/service">Services</a>
        <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/product">Products</a>
        <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/contact">Contact</a>
      </nav>

      <button id="menubtn"
        class="md:hidden items-center border-0 p-3 bg-gray-50 focus:outline-none hover:bg-gray-100 text-xl">
        &#9776;
      </button>
    </div>
  </header>


  <!-- mobilemenu -->
  <nav id="mobilemenu"
    class="flex flex-col gap-2 p-3 z-20 md:hidden flex-wrap items-center text-base justify-between mt-[80px] transition-all transform w-full bg-white fixed -translate-y-full">
    <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/">Home</a>
    <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/about">About</a>
    <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/service">Services</a>
    <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/product">Products</a>
    <a class="mr-5 hover:text-orange-400 transition-all cursor-pointer" href="/contact">Contact</a>
  </nav>
