<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>


  <body class="font-sans capitalize">






    <!-- navbar section -->
    <%- include('./partials/navbar') %>

      <!-- hero section -->
      <main>


        <!-- about us -->
        <div class="bg-white p-3 pt-28 mb-20">
          <section class="text-gray-600 body-font relative mx-auto max-w-7xl">
            <h1 class="text-4xl font-medium title-font mb-12 text-gray-900 text-center">
              About us
            </h1>
            <div class="data">
              <h3 class="text-2xl">introduction</h3>
              <hr class="my-5 h-[2px] bg-orange-400" />
              <p class="mb-5">
                Exporting Chemicals over years worldwide, RM Impex is the most
                trusted Chemical Exporter from India. Extensive knowledge of the
                Indian Chemical Industry, assurance of only good quality supplies,
                makes us the preferred supply source. West Europe is our largest
                market.
              </p>
              <p class="mb-5">
                RM Impex pre-audits manufacturing plants, arranges required
                certifications & regulatory requirements, and ensures correct
                product testing and reporting.
              </p>
              <p class="mb-5">
                Located in the highly industrialized region of India adds to our
                strength in both Sourcing and Marketing. The Dominant Indian
                Chemical production is in Gujarat, where we are located.
              </p>

              <table class="table-auto w-full mb-8 text-left whitespace-no-wrap">
                <tbody>
                  <tr>
                    <td class="px-4 py-3">
                      Comprehensive knowledge of International Trade
                    </td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">
                      Supplies from the best and most reliable manufacturing
                      source
                    </td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-gray-200 px-4 py-3">
                      Plants Audited, ensuring required Certifications, and
                      Product Testing
                    </td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                      Ability to source and offer entire range of Chemicals from
                      India.
                    </td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                      Transparency in all Transactions.
                    </td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                      Commitment to render Impeccable services.
                    </td>
                  </tr>
                  <tr>
                    <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
                      Negotiating satisfactory settlement of Disputes.
                    </td>
                  </tr>
                </tbody>
              </table>

              <h3 class="text-2xl">Vision</h3>
              <hr class="my-5 h-[2px] bg-orange-400" />

              <p class="mb-5">
                RM Impex intends to be a major distributor of Chemicals, Polymers,
                and Allied Products. While consolidating our position in existing
                business areas, we aggressively expand our basket of products, and
                our geographical presence..
              </p>
              <p class="mb-5">
                RM Impex creates strong Partnerships with suppliers and customers,
                through seamless servicing, honesty and transparency.
              </p>
              <p class="mb-5">
                RM Impex aims to emerge as an Agent and Supplier of difference, to
                both Principals and Customers. We endeavor to perform all tasks
                and activities to perfection, dedicating our best attention,
                irrespective of the business size and potential.
              </p>

              <h3 class="my-5 text-2xl">Business Philosophy</h3>
              <hr class="my-5 h-[2px] bg-orange-400" />

              <p class="mb-5">
                RM Impex believes in honest and ethical practices, and follows
                complete Transparency in business.
              </p>
              <p class="mb-5">
                RM Impex builds long term business relations. We possess the
                perseverance and patience to invest in long term market
                development, and invest time and resources during the gestation
                period. RM Impex is sensitive to conflicts of interest, and
                voluntarily avoids handling competing products and representing
                competing organizations. Moreover, we respect and protect the
                confidentiality of both our Customers and Principals.
              </p>
              <p class="mb-5">
                While harboring ambitions of dynamic growth, RM Impex commits to
                expand business with adherence to best ethical practices.
              </p>

              <h3 class="mt-5 text-2xl">Mission Statement</h3>
              <hr class="my-5 h-[2px] bg-orange-400" />

              <p class="my-5">
                To become a world class marketing, distribution and outsourcing
                entity, for Chemicals and Polymers.
              </p>
              <p class="my-5">
                To provide the best of transparent, responsive services to
                customers and suppliers, in a reliable and responsible manner.
              </p>
              <p class="my-5">
                To develop a highly motivated, performance oriented team of
                professionals, working towards complete customer satisfaction.
              </p>
              <p class="my-5">
                To build a strong knowledge base of Chemical Markets.
              </p>
            </div>
          </section>
        </div>


      </main>
      <%- include('./partials/footer') %>


        <script src="/js/menu.js"></script>
  </body>

</html>