<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body class="font-sans capitalize">
  <!-- navbar section -->
<%- include('./partials/navbar') %>
  

  <!-- hero section -->
  <main>

    <!-- products -->
    <div class="bg-white p-3 pt-28 mb-20">
      <section class="text-gray-600 body-font relative mx-auto max-w-7xl">
        <h1 class="text-4xl font-medium title-font mb-12 text-gray-900 text-center">
          Products
        </h1>
        <div class="data">
          <hr class="bg-orange-400 my-5 h-[2px]" />
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            <table>
              <thead>
                <tr class="prd">
                  <th>A</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Calcium Butyrate Eneapusulated
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Acetic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Acetic Anhydride
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ascorbic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Bifluoride
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Oxalate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Chloride
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Formate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Aluminium Powder
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Aluminium Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ammonium Nitrate
                  </td>
                </tr>



              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>B</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Calcium Butyrate Eneapusulated
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Basic Chromium Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Benzyl Benzoate BP-93
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Bentonite API-13A-9
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Bentonite H Gel
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Bentonite OCMA
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Barium Chloride
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Benzyl Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Benzyl Alcohol
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Barium Carbonate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Barium Nitrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Barium Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Butyl Acetate
                  </td>
                </tr>

              </tbody>
            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>C</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Calcium Butyrate Eneapusulated
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Cal Carbonate Flakes

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Cal Carbonate sized
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calcium Carbonate Granular BP/EP/USP/FCC
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calcium Citrate

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calcium Carboxy Methyl Cellulose BP/EP/USP

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calcium stearate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calcium Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calcium Hypo Chlorite 65% & 70%

                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Di Calcium Phosphate BP/EP/USP/FCC

                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Calicum Chloride 35% Soln
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calicum Chloride 94%-97%

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Calicum Sulphate

                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Calicum Nitrate

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Citric Acid Monohydrate/Anhydrous

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Castor Oil

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Caustic Potash – Lye/ Flakes

                  </td>
                </tr>

                <tr class="prd">
                  <td>

                    Cetyl Pyridium Chloride

                  </td>
                </tr>
                <tr class="prd">
                  <td>


                    Chlorinated Paraffin Wax
                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Cross Carmellose Sodium BP/USP

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Caustic Soda – Flakes/Pearls/Prills/Lye/Pellets


                  </td>
                </tr>

                <tr class="prd">
                  <td>

                    Calcium Gluconate

                  </td>
                </tr>









              </tbody>
            </table>



            <table>
              <thead>
                <tr class="prd">
                  <th>D</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Dextrose Anhydrous/Monohydrate

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Dimethicone BP

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Dihydromyrcenol

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Dimethyl Sulphate

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Dimethyl Phthalate

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Diethyl Sulphate

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Dicalcium Phosphate BP/USP

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Diacetone Alcohol

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Di Ethyl Phthalate

                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Di-Ammonium Phosphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Dehydrated Castor Oil
                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    4, 4 Diamino diphenyl Sulfone
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    2.5 Di-Tert-Butyl Hydroquinone

                  </td>
                </tr>





              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>E</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Ethyl Alcohol

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ethanol

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ethylene Glycol Monoethyl Ether

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    EDTA

                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Electrolytic Iron Powder
                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Ethylenediamine 99%
                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Ethyl Acetate
                  </td>
                </tr>


              </tbody>
            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>F</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Fumic Acid

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Formic Acid

                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ferrous Sulphate Anhydrous

                  </td>
                </tr>
                <tr class="prd">
                  <td>

                    Ferrous Glycine Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ferrous Fumarate BP / USP

                  </td>
                </tr>





              </tbody>
            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>G</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>

                  </td>
                </tr>

                <tr class="prd">
                  <td> Glycerine BP/USP
                  </td>
                </tr>
                <tr class="prd">
                  <td>Guar Gum / Guar Splits
                  </td>
                </tr>
                <tr class="prd">
                  <td>Glycol Ethers
                  </td>
                </tr>


              </tbody>
            </table>



            <table>
              <thead>
                <tr class="prd">
                  <th>H</th>
                </tr>
              </thead>
              <tbody>


                </td>
                </tr>
                <tr class="prd">
                  <td>12-Hydroxy Stearic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>Hexylene Glycol 50%
                  </td>
                </tr>
                <tr class="prd">
                  <td>Hydrochloric Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>Hydrogen Peroxide 35% -50%
                  </td>
                </tr>
                <tr class="prd">
                  <td>Hydrogenated Castor Oil
                  </td>
                </tr>
                <tr class="prd">
                  <td>Hydroxy Ethyl Cellulose
                  </td>
                </tr>




              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>I</th>
                </tr>
              </thead>
              <tbody>



                <tr class="prd">
                  <td>Isophorone
                  </td>
                </tr>
                <tr class="prd">
                  <td>Linear Alkyl Benzene Sulphonic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>Iso Pro Alcohol
                  </td>
                </tr>


              </tbody>
            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>L</th>
                </tr>
              </thead>
              <tbody>


                </td>
                </tr>
                <tr class="prd">
                  <td>
                    Lead Nitrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Lead Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Liquid Paraffin (White Oil)
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Liquid Glucose 87%
                  </td>
                </tr>


              </tbody>
            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>M</th>
                </tr>
              </thead>
              <tbody>

                <tr class="prd">
                  <td>Manganese Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Citrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Stearate BP/EP/USP – NF
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Sulphate Andhyrous
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Sulphate MonoHydrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Chloride
                  </td>
                </tr>
                <tr class="prd">
                  <td>Mangesium Hydroxide 50%
                  </td>
                </tr>
                <tr class="prd">
                  <td>Manganese Oxide
                  </td>
                </tr>
                <tr class="prd">
                  <td>Manganese Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Mono Ethylene Glycol
                  </td>
                </tr>
                <tr class="prd">
                  <td>Menthol Crystals
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Oxide
                  </td>
                </tr>
                <tr class="prd">
                  <td>Mesityl Oxide
                  </td>
                </tr>
                <tr class="prd">
                  <td>Magnesium Sulphate An
                  </td>
                </tr>
                <tr class="prd">
                  <td>Methyl Ethyl Ketoxime (MEK)
                  </td>
                </tr>
                <tr class="prd">
                  <td>Methyl Hydroxyl Benzoate BP
                  </td>
                </tr>
                <tr class="prd">
                  <td>Monochloro Acetic Acid (Crystals/Flakes)
                  </td>
                </tr>
                <tr class="prd">
                  <td>Micro Crystaline Cellulose
                  </td>
                </tr>
                <tr class="prd">
                  <td>Maize Starch
                  </td>
                </tr>
                <tr class="prd">
                  <td>Mono Ammonium Phosphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Mono Potassium Phosphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Methanol
                  </td>
                </tr>


              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>N</th>
                </tr>
              </thead>
              <tbody>


                <tr class="prd">
                  <td> Niacin
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Nitric Acid
                  </td>
                </tr>


              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>O</th>
                </tr>
              </thead>
              <tbody>





                <tr class="prd">
                  <td>
                    Ortho Nitro Chloro Benzene
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ortho Dichloro Benzene
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Ortho Nitro Chloro Benzene
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Oxalic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>
                    Oxalic Acid 99.6%
                  </td>
                </tr>




              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>P</th>
                </tr>
              </thead>
              <tbody>









                <tr class="prd">
                  <td>Para Dichloro Benzene
                  </td>
                </tr>
                <tr class="prd">
                  <td>Para Nitro Chloro Benzene
                  </td>
                </tr>
                <tr class="prd">
                  <td>Paracetamol BP
                  </td>
                </tr>
                <tr class="prd">
                  <td>PEG
                  </td>
                </tr>
                <tr class="prd">
                  <td>Polymerized Oil (Blown Castor Oil)
                  </td>
                </tr>
                <tr class="prd">
                  <td>Picolinic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>Polysorbate 60 Food Grade
                  </td>
                </tr>
                <tr class="prd">
                  <td>Polystyrene GPPS/HIPS/EPS
                  </td>
                </tr>
                <tr class="prd">
                  <td>Precipitated Silica
                  </td>
                </tr>

                <tr class="prd">
                  <td>Potassium Citrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Potassium Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Potassium Iodate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Potassium Iodide
                  </td>
                </tr>
                <tr class="prd">
                  <td>Potassium Iodide Stabilised
                  </td>
                </tr>





              </tbody>
            </table>


            <table>
              <thead>
                <tr class="prd">
                  <th>S</th>
                </tr>
              </thead>
              <tbody>










                </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Acetate (Trihydrate)
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Aluminium Sulphate Anhydrous
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Acetate Andhryous
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Butyrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Carboxyl Methyl Cellulose
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Lauryl Sulphate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Monochloro Acetate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Carbonate Andhdrous
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Nitrite
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Nitrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Starch Glycolate BP/USP/ EP
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Citrate Di-hydrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Acetate Trihydrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Stronium Nitrate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sodium Bicarbonate
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sorbitol
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sulphamic Acid
                  </td>
                </tr>
                <tr class="prd">
                  <td>Sulphuric Acid
                  </td>
                </tr>


              </tbody>
            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>T</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td> Tri-calcium Phosphate BP/USP</td>
                </tr>
                <tr class="prd">
                  <td>
                    Tri-sodium Phosphate Crystals
                  </td>
                </tr>
              </tbody>
</table>
              </thead>

            </table>
            <table>
              <thead>
                <tr class="prd">
                  <th>v</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    Vinyl Acetate Monomer


                  </td>
                </tr>
              </tbody>

            </table>

            <table>
              <thead>
                <tr class="prd">
                  <th>W</th>
                </tr>
              </thead>
              <tbody>
                <tr class="prd">
                  <td>
                    White Mineral Oil




                  </td>
                </tr>
              </tbody>

            </table>
            

            <table>
              <thead>
                <tr class="prd">
                  <th>Z</th>
                </tr>
              </thead>
              <tbody>
                

                 
<tr class="prd">
                  <td>Zinc Carbonate
                    </td></tr>
<tr class="prd">
                  <td>Zinc Sulphate Heptahydrate 
                    </td></tr>
<tr class="prd">
                  <td>Zinc Sulphate Monohydrate
                    </td></tr>
<tr class="prd">
                  <td>Zinc Dust
                    </td></tr>
<tr class="prd">
                  <td>Zinc Oxide - Various Grades
                    </td></tr>
<tr class="prd">
                  <td>Zinc Acetate
                    </td></tr>


              </tbody>

            </table>
          </div>

        </div>
      </section>
    </div>


  </main>

<%- include('./partials/footer') %>
 
  <script src="/js/menu.js"></script>

</body>

</html>