<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body class="font-sans capitalize">
    
    <%- include('./partials/navbar') %>
     
     

    <!-- hero section -->
    <main>
     

     

      <!-- services -->
      <div class="bg-white p-3 pt-28 mb-20">
        <section class="text-gray-600 body-font relative mx-auto max-w-7xl">
          <h1
            class="text-4xl font-medium title-font mb-12 text-gray-900 text-center"
          >
            Services
          </h1>
          <div class="data">
            <hr class="my-5 h-[2px] bg-orange-400" />

            <p class="text-center md:text-left">
              RM Impex believes in total commitment towards business and
              operations. We commit ourselves to be a reliable Partner, and
              offer a wide range of services to both customers and suppliers.
            </p>


            <!--  -->



              <div class="flex items-center flex-col my-8">
                <div class="title ">
                  <h2 class="text-center text-3xl font-bold
                  ">QUALITY IN EVERYTHING
                  <br/>  
                  WE DO
                    </h2>
                    <p class="text-center my-6 md:p-4 ">RM Impex believes in honest and ethical
                      <br/>
                      practices, and follows complete
                      <br/>
                      Transparency in business.</p>
                </div>
              
                <div class="flex relative pb-12">
                  <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                  </div>
                  <div class="flex-shrink-0 w-10 h-10 rounded-full  bg-orange-400  inline-flex  relative text-black">
                    <p class="absolute -left-28 md:-left-52 max-w-[130px] md:max-w-[200px]">Negotiating
                      satisfactory
                      settlement of
                      Disputes.</p>
                  </div>
                </div>
              
                <div class="flex relative pb-12">
                  <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                  </div>
                  <div class="flex-shrink-0 w-10 h-10 rounded-full  bg-orange-400  inline-flex  relative text-black">
                    <p class="absolute -right-36 max-w-[130px] md:-right-56 md:max-w-[200px]">Commitment
                      to render
                      Impeccable
                      services</p>
                  </div>
                </div>
              
                <div class="flex relative pb-12">
                  <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                  </div>
                  <div class="flex-shrink-0 w-10 h-10 rounded-full bg-orange-400 inline-flex  relative text-black">
                    <p class="absolute -left-28 md:-left-52 max-w-[130px] md:max-w-[200px]">Supplies from
                      the best and
                      most reliable
                      manufacturing
                      source </p>
                  </div>
                </div>
                
              
                <div class="flex relative pb-12">
                  <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                  </div>
                  <div class="flex-shrink-0 w-10 h-10 rounded-full  bg-orange-400  inline-flex  relative text-black">
                    <p class="absolute -right-36 max-w-[130px] md:-right-56 md:max-w-[200px]">Comprehensive
                      knowledge of
                      International
                      Trade</p>
                  </div>
                </div>
              
              
                <div class="flex relative pb-12">
                  <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                  </div>
                  <div class="flex-shrink-0 w-10 h-10 rounded-full  bg-orange-400  inline-flex  relative text-black">
                    <p class="absolute -left-28 md:-left-52 max-w-[130px] md:max-w-[200px]">Ability to source
                      and offer entire
                      range of
                      Chemicals from
                      India.</p>
                  </div>
                </div>
              
                <div class="flex relative pb-12">
                  <div class="h-full w-10 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                  </div>
                  <div class="flex-shrink-0 w-10 h-10 rounded-full  bg-orange-400  inline-flex  relative text-black">
                    <p class="absolute -right-36 max-w-[130px] md:-right-56 md:max-w-[200px] ">Plants Audited,
                      ensuring required
                      Certifications,
                      and Product
                      Testing</p>
                  </div>
                </div>
               
              
              </div>

<div class="">
  <h3 class="my-5 text-xl">Our services include</h3>
  <table class="table-auto w-full text-left">
    <tbody>
      <tr>
        <td class="px-4 py-3">Market Research and Intelligence</td>
      </tr>
      <tr>
        <td class="border-t-2 border-gray-200 px-4 py-3">
          Providing technical support to customers.
        </td>
      </tr>
      <tr>
        <td class="border-t-2 border-gray-200 px-4 py-3">
          Negotiating transactions
        </td>
      </tr>
      <tr>
        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
          Assisting in completion of procedural formalities
        </td>
      </tr>
      <tr>
        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
          Providing of logistic support.
        </td>
      </tr>
      <tr>
        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
          Commitment to resolve quality or delivery related problems.
        </td>
      </tr>
      <tr>
        <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">
          Negotiating amicable settlement of differences.
        </td>
      </tr>
    </tbody>
  </table>
</div>





           

            
                  

                  




          </div>
        </section>
      </div>

     

    
    </main>

    <%- include('./partials/footer') %>
   
    <script src="/js/menu.js"></script>

  </body>
</html>
